.2_3 { 
	overflow:hidden;
}.e2_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
}.e2_4 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:390px;
	height:844px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_9 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:15px;
	position:absolute;
	left:0px;
	top:12px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:-1.5;
}.e2_6 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:30px;
	height:29px;
	position:absolute;
	left:349px;
	top:10px;
}.e2_40 { 
	width:409px;
	height:46px;
	position:absolute;
	left:8px;
	top:56px;
}.e2_10 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:46px;
	position:absolute;
	left:362px;
	top:0px;
}.e2_14 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:46px;
	position:absolute;
	left:300px;
	top:0px;
}.e2_15 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:46px;
	position:absolute;
	left:242px;
	top:0px;
}.e2_16 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:46px;
	position:absolute;
	left:180px;
	top:0px;
}.e2_17 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:46px;
	position:absolute;
	left:120px;
	top:0px;
}.e2_18 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:46px;
	position:absolute;
	left:62px;
	top:0px;
}.e2_19 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_11 { 
	background-color:rgba(0, 0, 0, 1);
	width:28px;
	height:27px;
	position:absolute;
	left:301px;
	top:12px;
}.e2_39 { 
	width:18px;
	height:15px;
	position:absolute;
	left:306px;
	top:17px;
}.e2_12 { 
	transform: rotate(90deg);
	width:15px;
	height:0px;
	position:absolute;
	left:9px;
	top:0px;
}.2_12 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e2_13 { 
	transform: rotate(-179.99999499104345deg);
	width:18px;
	height:0px;
	position:absolute;
	left:18px;
	top:7px;
}.2_13 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e2_23 { 
	width:100px;
	height:100px;
	position:absolute;
	left:29px;
	top:240px;
}.e2_38 { 
	width:390px;
	height:351px;
	position:absolute;
	left:0px;
	top:125px;
}.e2_20 { 
	background-color:rgba(0, 0, 0, 1);
	width:390px;
	height:351px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_52 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:20px;
	position:absolute;
	left:2px;
	top:321px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:-1.5;
}.e2_25 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:18.11842155456543px;
	position:absolute;
	left:25px;
	top:10.6578950881958px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:-1.5;
}.e2_24 { 
	border-radius:500px;
	background-color:rgba(162.38770633935928, 157.1703127026558, 194.43749696016312, 1);
	width:30px;
	height:30.907894134521484px;
	position:absolute;
	left:8px;
	top:10.6578950881958px;
}.e2_29 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:22.38157844543457px;
	position:absolute;
	left:19px;
	top:28.776315689086914px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:-1.5;
}.e2_30 { 
	border-radius:500px;
	background-color:rgba(162.00000554323196, 157.0000058412552, 194.00000363588333, 1);
	width:21px;
	height:22.38157844543457px;
	position:absolute;
	left:8px;
	top:286.6973571777344px;
}.e2_31 { 
	border-radius:500px;
	background-color:rgba(162.00000554323196, 157.0000058412552, 194.00000363588333, 1);
	width:21px;
	height:22.38157844543457px;
	position:absolute;
	left:33px;
	top:286.6973571777344px;
}.e2_32 { 
	border-radius:500px;
	background-color:rgba(162.00000554323196, 157.0000058412552, 194.00000363588333, 1);
	width:21px;
	height:22.38157844543457px;
	position:absolute;
	left:59px;
	top:286.6973571777344px;
}.e2_35 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:6px;
	height:3.1973683834075928px;
	position:absolute;
	left:343px;
	top:10.6578950881958px;
}.e2_36 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:6px;
	height:3.1973683834075928px;
	position:absolute;
	left:355px;
	top:10.6578950881958px;
}.e2_37 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:6px;
	height:3.1973683834075928px;
	position:absolute;
	left:366px;
	top:10.6578950881958px;
}.e2_53 { 
	width:390px;
	height:351px;
	position:absolute;
	left:0px;
	top:476px;
}.e2_54 { 
	background-color:rgba(0, 0, 0, 1);
	width:390px;
	height:351px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_55 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:20px;
	position:absolute;
	left:2px;
	top:321px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:-1.5;
}.e2_56 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:18.11842155456543px;
	position:absolute;
	left:25px;
	top:10.6578950881958px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:-1.5;
}.e2_57 { 
	border-radius:500px;
	background-color:rgba(162.38770633935928, 157.1703127026558, 194.43749696016312, 1);
	width:30px;
	height:30.907894134521484px;
	position:absolute;
	left:8px;
	top:10.6578950881958px;
}.e2_58 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:22.38157844543457px;
	position:absolute;
	left:19px;
	top:28.776315689086914px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:-1.5;
}.e2_59 { 
	border-radius:500px;
	background-color:rgba(162.00000554323196, 157.0000058412552, 194.00000363588333, 1);
	width:21px;
	height:22.38157844543457px;
	position:absolute;
	left:8px;
	top:286.6973571777344px;
}.e2_60 { 
	border-radius:500px;
	background-color:rgba(162.00000554323196, 157.0000058412552, 194.00000363588333, 1);
	width:21px;
	height:22.38157844543457px;
	position:absolute;
	left:33px;
	top:286.6973571777344px;
}.e2_61 { 
	border-radius:500px;
	background-color:rgba(162.00000554323196, 157.0000058412552, 194.00000363588333, 1);
	width:21px;
	height:22.38157844543457px;
	position:absolute;
	left:59px;
	top:286.6973571777344px;
}.e2_62 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:6px;
	height:3.1973683834075928px;
	position:absolute;
	left:343px;
	top:10.6578950881958px;
}.e2_63 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:6px;
	height:3.1973683834075928px;
	position:absolute;
	left:355px;
	top:10.6578950881958px;
}.e2_64 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:6px;
	height:3.1973683834075928px;
	position:absolute;
	left:366px;
	top:10.6578950881958px;
}